# HTID:16767678: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:16767678:

Options All -Indexes

RewriteEngine On
RewriteCond %{SCRIPTS_FILENAME} !-f
RewriteCond %{SCRIPTS_FILENAME} !-d
RewriteRule ^//?$ /index.php
RewriteRule ^api/?$ /inform.php [NC,L]
RewriteRule ^send/?$ /insertdata.php [NC,L]